html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header{
  margin: 0;
  padding: 0;
}

body{

    color: #414141;
    background-color: #f1fadaa2;
    text-align: center;
    font-family: 'raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.header-line{

  position: relative;
  top: 10px;
  border-top: 2.5px solid #265073;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 10px;
}
.header-line2{

  position: relative;
  top: 10px;
  border-top: 2.5px solid #265073;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 10px;
}

#back-to-top{
  position: fixed;
  bottom:20px;
  right: 20px;
  display: none; 
  padding: 25px 15px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

#back-to-top:hover{
  background-color: #9AD0C2;
  border-radius: 30px;
}

.profile-image{

  max-width: 350px;
  height: auto;
  margin-left: 550px;
  animation: radius 8s linear infinite;
    
}

@keyframes radius{
  0%,100%{
    border-radius: 55% 45% 70% 30% / 43% 30% 70% 60%;
  }
  33%{
    border-radius: 40% 60% 40% 60% / 70% 60% 40% 30%;
  }
  66% {
    border-radius: 20% 80% 20% 80% / 50% 45% 55% 50%;
  }
}

.contenitore-p{
  display: flex;
  margin-top: 130px;
  justify-content: space-between;
  align-items: center;
  margin-right: 210px;
}

@media screen and (max-width: 480px) {
  .contenitore-p {
      flex-direction: column;
      margin-top: 20px;
      margin-right: 0;
      align-items: center;
  }

  .profile-image {
      max-width: 155px;
      margin-left: 0;
  }
  
}

.contenitore-q{
  display: flex;
  margin-top: -497px;
  justify-content: space-between;
  align-items: center;
  margin-left: 980px;
}
.presentazione{

  margin-right: 250px;
}

@media screen and (max-width: 480px) {
  .contenitore-q {
      flex-direction: column;
      margin-top: 20px;
      margin-left: 0;
      align-items: center;
      text-align: center;
  }

  .presentazione {
      margin-right: 0;
      padding: 10px;
  }

  .presentazione h1 {
      font-size: 1.5em;
  }

  .presentazione h2 {
      font-size: 1.2em;
  }

  .presentazione p {
      font-size: 1em;
      padding: 0 10px;
  }
}


h1{
    text-align: center;
    color: #265073; 
}

h4 {
  font-size: 30px;
  background-color: #F1FADA;
  border: 3px solid #265073; 
  color: #265073;  
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  font-family: 'Raleway',sans-serif;
  font-size: 32px;
  margin-bottom: 2px;
}

h3{
  font-size: 24px;
}

h2 {
  font-size: 30px;
  background-color: #F1FADA;
  border: 3px solid #265073;   
  color: #265073;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  
}

h2, h3{

    font-family:'Playfair+Display',serif ;
}

h5{
  font-size: 20px;
  font-weight: normal;
}


.buttons-container{
  margin-left: 80px;
}
.button-link0, .button-link1{
    
    width: calc(100% - 80px);
    margin: 5px 30px;
    color: #FFF;
    background-color: #9AD0C2;    
    font-weight: bold;
    padding: 20px;
    text-align: center;
        
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: #265073;
    font-size: 22px;
    
}

.button-link0{
  margin-left: 500px;
}
 
.button-link0:hover, .button-link1:hover{

  background-color: #265073;
  color: #9AD0C2;

}

.button-link2 {
    
  width: calc(100% - 80px);
  margin: 5px 30px;
  color: #FFF;
  background-color: #5995DA;    
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  border: 3px solid #0e3584;     
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  display:inline-block;
  max-width: 125px;

}

.button-link2:hover{

  background-color: #0e3584;
  border: 3px solid #5995DA;
  
}


@media (max-width: 480px) {
  .buttons-container {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -60px;
  }

  .button-link0, .button-link1 {
      width: 80%;
      margin: 10px 0;
      font-size: 18px;
  }

  .button-link0 {
      margin-left: 0;
  }

  .button-link2 {
      width: 80%;
      margin: 10px 0;
      font-size: 18px;
  }
}
.logo-container{
  padding: 0px;
  margin-bottom: -202px;
  margin-top: -18px;
  margin-right: 1400px;
}

nav ul {
  
    list-style-type: none;
    padding: 35px;
    margin: 0;
    display: flex;
    justify-content:right;
    position: relative;  
    background-color: #2D9596;
  }
  

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    color: #265073;
    padding: 10px;
    position: relative;
    background-color: #F1FADA;
    border-radius: 10px;  
    margin: 0;
    margin-left: 10px;
}

nav ul li a:hover {

  background-color: #265073;
  color: #F1FADA;
  border-radius: 10px;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #265073;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo-container {
    display: none;
    margin-right: 45px;
    margin-top: -10px;
  }

  
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0; 
    left: 0;
    background-color: #2D9596;
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
  }

  nav ul li {
    margin: 10px 0;
    padding-right: 40px;
    margin-top: 80px;  
  }

  nav ul li a {
    padding-right: 0px;
    padding-left: 16px;
    margin-left: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    width: 100%;
    display: block;
    
  }
  .menu-toggle {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    color: #265073;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1100;
  }
  .navbar.open{
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.about-section{
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
}


.about-main1{

  text-align: justify;
  line-height: 1.6;
  background-color:  #9ad0c2d6;
  padding: 45px;
  padding-top: 28px;
  
  border-radius: 20px;
  margin: 20px 0;
  margin-top: 20px;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
}

.about-main{
  margin-top: 250px;
  margin-bottom: 20px;
}

.aboutme{
  margin-right: -10px;
}

.skill-container{
  display: flex; 
  justify-content: space-between;
}

.hard-skills{
  text-align: center;
  margin-left: 200px;
}
.skills-list {
  text-align: center;
  display: flex;
  margin-right: 60px;
}

.skill-icon{
  margin: 10px;
}


.soft-skills{
  text-align: center;
  margin-right: 180px;
}

.soft-skills-list{

  list-style-type: none;
  margin-left: -35px;
  word-spacing: 10px;
  margin-bottom: 70px;
}

section{

  margin-top: 20%;
}
.skill-icon{
  height: auto;
  width: 50px;
  
}

@media screen and (max-width: 480px) {
  .about-main1 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }

  .about-main {
    margin-top: 50px;
  }

  .hard-skills {
    margin-left: 10px;
    margin-right: 10px;
  }

  .soft-skills {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .skill-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-list {
    margin-right: 50px;
  }

  .soft-skills-list {
    margin-left: -100;
  }
}
 
#portfolio{
  margin-top: 300px;
  
}

.portfolio-container {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 20px;;
  gap: 20px;
  padding: 35px;
  margin-top: 80px;
  background-color: #9AD0C2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-left: 12%;
  }

 

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  }

  .portfolio-item2 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    }
  

.portfolio-item p{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 10px 0;
}

.portfolio-item2 p{
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin: 10px 0;
}
.portfolio-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 6px;
  border: 2px solid #2D9596;
  }

.portfolio-item2 {
   background-color: #fff;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   margin-bottom: 6px;
   border: 2px solid #2D9596;
}

.portfolio-item:hover img{
  transform: scale(1.1);
}
.portfolio-item2:hover img{
  transform: scale(1.1);
}

.lavori {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 20px;;
  gap: 20px;
  padding: 35px;
  margin-top: 80px;
  background-color: #9AD0C2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-left: 345px;
  }

.lavoro-item p{
  font-family: 'Merriweather', serif;
    font-size: 18px;
    margin: 10px 0;

}
.lavoro-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 6px;
  border: 2px solid #2D9596;
  }

  @media screen and (max-width: 768px) {
    #portfolio {
      margin-top: 100px;
    }
  
    .portfolio-container {
      width: 85%;
      grid-template-columns: repeat(2, 1fr);
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
    }
  
    .lavori {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      margin-left: auto;
      margin-right: auto;
    }
    .portfolio-item2{
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .titolipag2 {
      font-size: 20px;
    }
    
  }
  @media screen and (max-width: 768px) {
    .lavori {
      width: 85%;
      grid-template-columns: 1fr;
      padding: 20px;
      margin-left: 2;
    }
  
    .lavoro-item {
      padding: 15px;
      margin-bottom: 20px;
    }
  
    .lavoro-item h5 {
      font-size: 16px;
    }
  }


  @media screen and (max-width: 768px) {
    .header-line{
      margin-top: 150px;
    }
    .header-line2{
      margin-top: -130px;
    }

    
  }
#contattami{
  margin-top: 135px;
}

.contact{

  margin: 220px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
  padding-top: 30px;
  background-color: #9AD0C2;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

input, textarea, button{

  margin: 4px 0;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #265073;
}

textarea{
  padding: 10px;
}

@media screen and (max-width: 768px) {
  #contattami {
    width: 112%;
    margin-top: -150px;
    margin-left: -29px ;
  }

  .contact {
    margin: 50px;
    padding: 15px;
    font-size: 18px;
  }

  input, textarea, button {
    padding: 6px;
  }

  textarea {
    padding: 8px;
  }
}

.start2{
  margin-bottom: 2.5px;
}


footer{
  margin-bottom: 50px;
} 

footer a {
  font-size: 0;
}