.profile-image{

    max-width: 200px;
    height: auto;
    border: 2px solid #5D6063;
    border-radius: 50px;
    
}

body{

    color: #414141;
    background-color: #a1dae6;
    text-align: center;
}

h1{
    text-align: center;
    color: #008cff;
    /*background-color: rgb(156, 245, 215);
    display: inline;
    padding: 10px;
    border: 1px solid #5D6063;
    border-radius: 5px;*/
}

h2 {

  background-color: #a2ffff;
  border: 2px solid #5D6063;    
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  
}
h1, h2{

    font-family: Arial, Helvetica, sans-serif;
}

/*ul {

    list-style-type: square ;
}*/

ol {

    list-style-type: lower-greek;
}

p{
    text-align: center;
}

/*div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
  }*/

  .synopsis {
    color: #7E8184;        
    font-style: italic;
  }
  .button {
    color: #FFF;
    background-color: #5995DA;    
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    
    border-radius: 20px;
  
    width: 200px;
    margin: 20px auto;
  }

  .call-to-action {
    font-style: italic;
    background-color: #012dbe;
  }

  .button-link {
    width: calc(100% - 80px);
    margin: 5px 30px;
    color: #FFF;
    background-color: #5995DA;    
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    
    border-radius: 20px;
  
}
  
  nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:right;
    position: relative;
    
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: 800;
    color: #132043;
    padding: 10px;
    position: relative;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

section{

  margin-top: 50%;
}